@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "colors";
@import "sizes";
@import "utilities";
@import "methods";
@import "responsive";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
main {
    margin-top: 65px;
}
// login form
.login-page-container {
    background: url("../../public/img/Login\ BG.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
    overflow: hidden;
    .login-form-wrapper {
        box-shadow: $box-shadow;
        background: $light;
        border-radius: 20px;
        .login-form-card {
            .login-form-title {
                h4 {
                    color: $deep-dark;
                    font-size: 30px;
                    font-weight: 500;
                }
            }
            form {
                input {
                    display: block;
                    margin-bottom: 2rem;
                    width: 100%;
                    background: $gray;
                    border-radius: 100px;
                    border: none;
                    padding: 12px 2rem;
                    font-size: 14px;
                    &::placeholder {
                        color: $light-dark;
                    }
                    &:focus {
                        border: none;
                        outline: none;
                    }
                }
                button {
                    margin-bottom: 2rem;
                    width: 100%;
                    padding: 12px 2rem;
                    font-size: 14px;
                    border-radius: 100px;
                }
                .login-form-submit-button {
                    margin-top: 3rem;
                    background: $q-primary;
                    color: $light;
                }
            }
        }
    }
}

// login for break

// .break-for-bg {
//     padding-bottom: 10rem;
// }

// header
.custom-nav {
    .search-bar {
        form {
            position: relative;
            input {
                border: none;
                background: rgba(255, 255, 255, 0.2);
                border-radius: 8px;
                outline: 0;
                padding: 10px 0px 10px 50px;
                color: $light;
                &::placeholder {
                    color: $light;
                }
            }
            .searachIcon {
                position: absolute;
                top: 8px;
                left: 15px;
            }
        }
    }
    background: $q-primary;
    .login-user-name-icon {
        cursor: pointer;
        position: relative;
        color: $light;
        font-size: 16px;
        font-weight: 600;
        @include media("<=991px") {
            font-size: 14px;
        }
        &:hover {
            text-decoration: none;
        }
        img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            margin-left: 10px;
            @include media("<=991px") {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                margin-left: 5px;
            }
            @include media("<=460px") {
                height: 30px;
                width: 30px;
                border-radius: 50%;
                margin-left: 5px;
            }
        }
        .logout-button-wrapper {
            position: absolute;
            top: 110%;
            background: #fff;
            width: 100%;
            text-align: center;
            transition: 0.1s;
            z-index: 9999;
            display: none;
            border: 1px solid #b1aaaa;
            a {
                color: #78a2cc !important;
                padding: 10px !important;
                display: block;
                text-decoration: none;
            }
        }
        // &:hover {
        //     .logout-button-wrapper {
        //         top: 100%;
        //     }
        // }
    }
}
.navbar-brand {
    img {
        @include media("<=991px") {
            width: 100px;
        }
    }
}

// side nav

.sidenav-wrapper {
    background: $light;
    padding: 3rem 0;
    ul {
        li {
            list-style: none;
            margin-bottom: 1.5rem;
            padding: 8px;
            a {
                display: flex;
                align-items: center;
                color: #333;
                font-size: 14px;
                font-weight: 500;
                &:hover {
                    text-decoration: none;
                }
                img {
                    margin-right: 2rem;
                }
            }
        }
    }
    .bottom-part {
        border-top: 1px solid #e5e5e5;
        padding-top: 1.5rem;

        p {
            color: #9e9e9e;
            font-size: 14px;
        }
    }
}
// global
.page-content {
    background: #e5e5e5;
}
.page-title {
    h2 {
        font-size: 20px;
        color: #000;
        font-weight: 600;
        margin-bottom: 3rem;
    }
}
.page-content-table {
    background: #ffffff;
    border: 1px solid #dfe0eb;
    border-radius: 10px;
}
.table-header {
    p {
        color: #78a2cc;
        font-size: 16px;
        margin: 0px;
        @include media("<=991px") {
            font-size: 12px;
        }
    }
}
.single-table-row {
    p {
        margin: 0;
    }
}
.single-table-row-item-name {
    color: #828282;
    font-size: 14px;
}
.topics-name {
    @include media("<=991px") {
        font-size: 12px;
        @include trancate(100px);
    }
}
.question-name {
    @include trancate(300px);
    @include media("<=991px") {
        font-size: 12px;
        @include trancate(100px);
    }
}
.profession-name {
    @include trancate(300px);
    @include media("<=991px") {
        font-size: 12px;
        @include trancate(100px);
    }
}
.audioclips-name {
    @include trancate(300px);
    @include media("<=991px") {
        font-size: 12px;
        @include trancate(100px);
    }
}
img.table-content-icon {
    background: rgba(120, 162, 204, 0.5);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    padding: 0px;
    @include media("<=991px") {
        width: 35px;
        height: 35px;
    }
}
.status-btn {
    background: rgba(120, 162, 204, 0.2);
    border-radius: 30px;
    width: max-content;
    padding: 0px 14px;
    font-size: 14px;
    color: #78a2cc;
    font-weight: 500;
    @include media("<=991px") {
        font-size: 12px;
    }
}

// file upload
.sidecard-content-wrapper {
    background: #ffffff;
    border: 1px solid #dfe0eb;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px;
}
.drag-area {
    width: 100%;
    padding: 3rem;
    border: 1px dashed #dfe0eb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    p {
        font-size: 12px;
        color: #828282;
        margin: 1rem 0;
    }
    button {
        border: none;
        background: none;
        color: #78a2cc;
    }
}

.side-card-header {
    .btn-wrapper {
        margin: 1rem 0;
    }
    .card-add-btn {
        padding: 5px 1rem;
        background: #78a2cc;
        border-radius: 5px;
        border: none;
        color: $light;
        @include media("<=991px") {
            font-size: 12px;
        }
    }
    .side-card-title {
        font-size: 14px;
        font-weight: 600;
        color: $text-primary;
        @include media("<=991px") {
            font-size: 12px;
            font-weight: normal;
        }
    }
}
.side-card-title {
    font-size: 14px;
    font-weight: 600;
    color: $text-primary;
}
.side-card-body-title {
    font-size: 14px;
    font-weight: 600;
    color: $text-primary;
    @include media("<=991px") {
        font-size: 12px;
    }
}

// question

.sl-item {
    font-size: 14px;
    color: $text-primary;
    font-weight: 500;
}

.selected-item {
    background: rgba(223, 224, 235, 0.6);
    border-radius: 3px;
    padding: 3px 7px;
    font-size: 14px;
    color: $text-primary;
}

.close-btn {
    height: 8px;
    width: 8px;
    margin-left: 10px;
    cursor: pointer;
}

.status-hide {
    background: rgba(255, 38, 38, 0.1);
    color: rgba(255, 38, 38, 0.8);
}

.topic-input-wrapper {
    label {
        font-size: 14px;
        font-weight: 600;
        color: #828282;
    }
}

.advisor-image {
    img {
        height: 37px;
        width: 37px;
        border-radius: 50%;
        @include media("<=991px") {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }
}

.advisor-name {
    p {
        color: $text-primary;
        font-size: 14px;
        @include media("<=991px") {
            font-size: 12px;
            @include trancate(50px);
        }
    }
}
.profession-name {
    p {
        @include media("<=991px") {
            @include trancate(60px);
        }
    }
}
.topic-input-wrapper {
    label {
        @include media("<=991px") {
            font-size: 12px;
            font-weight: normal;
        }
    }
    .form-control {
        @include media("<=991px") {
            font-size: 12px;
        }
    }
}
// audio clips page

.add-button-wrapper {
    a {
        background: $q-primary;
        border: none;
        color: #fff;
        font-weight: 500;
        padding: 10px 1rem;
        @include media("<=991px") {
            font-size: 12px;
        }
        border-radius: 5px;
        &:hover {
            text-decoration: none;
        }
        img {
            margin-right: 10px;
        }
    }
}

// upload audio

.audio-upload-wrapper {
    .audio-clip-submit-btn {
        background: $q-primary;
        color: $light;
        width: 100%;
        padding: 9px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
    }
    input,
    select {
        font-size: 14px;
        color: $text-primary;
    }
}

.side-card {
    .side-card-header {
        .form-control {
            @include media("<=991px") {
                font-size: 12px;
            }
        }
    }
}
.side-card-body {
    .form-control {
        @include media("<=991px") {
            font-size: 12px;
        }
    }
}
.three-dot {
    position: relative;
    width: 25px;
    margin: 0 auto;
}
// drag area button
.drag-area button {
    margin-top: 1rem;
}
.menu-active {
    background: rgba(120, 162, 204, 0.1);
    border-radius: 4px;
    padding: 5px 0;
    a {
        color: #78a2cc !important;
        font-weight: 600 !important;
        img {
            filter: opacity(0.5) drop-shadow(0 0 0 blue);
        }
    }
}

.main-content-row {
    background: #e5e5e5;
}

// off canvas
.offcanvas-content {
    display: none;
    position: fixed;
    right: 0;
    top: 0 + 90px;
    width: 250px;
    z-index: 99999;
    box-shadow: 2px -1px 14px #b19d9d;
}
.offcanvas-button {
    background: none;
    border: none;
    color: #fff;
    margin-left: 15px;
    font-size: 25px;
    display: none;
    transform: rotate(90deg);
    @include media("<=991px") {
        display: block;
    }
}

.topics-tooltip {
    .tool-tip-wrapper {
        left: -65px !important;
    }
}
.question-tooltip {
    .tool-tip-wrapper {
        left: -65px !important;
    }
}

// advisor-page-table-content

// audio clips

.audio-clips {
    width: 100%;
    overflow: auto;
    @include media("<=991px") {
        .row {
            flex-wrap: nowrap !important;
            // border: 1px solid #000;
        }
        .border-bottom {
            border: none !important;
        }
    }
}
.login-page-logo-wrapper {
    img {
        @include media("<=991px") {
            width: 250px;
        }
    }
}
